
:root {
  --network-online: rgb(56, 189, 248);
  --network-offline: rgb(244, 114, 182);
  --network-warning: rgb(250, 204, 21);
}

.text-network-online {
  color: var(--network-online);
}

.text-network-offline {
  color: var(--network-offline);
}

.text-network-warning {
  color: var(--network-warning);
}

.bg-network-online {
  background-color: rgba(56, 189, 248, 0.1);
}

.bg-network-offline {
  background-color: rgba(244, 114, 182, 0.1);
}

.bg-network-warning {
  background-color: rgba(250, 204, 21, 0.1);
}

.border-network-online {
  border-color: var(--network-online);
}

.border-network-offline {
  border-color: var(--network-offline);
}

.border-network-warning {
  border-color: var(--network-warning);
}
